body
  {
    background-color: rgb(193, 250, 231);
  }
  #calculator
  {
    margin: 60px auto;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    width: 28vw;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  h2 
  {
    color: cadetblue;
    text-align: center;
  }
  p
  {
    color: cadetblue;
  }

  label
  {
   
    color:cadetblue;
     /* padding-bottom: 10px; */
    margin-bottom: 10px; 
    /* margin: 5px auto;
    display: block; */

  }

  input[type="number"]
  {
    font-family: "Poppins", sans-serif;
    /* border-radius: 10px; */
    width: 400px;
    height: 25px;
    color:cadetblue;
    border-color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  
  button
  {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    background-color: #4caf50;
    border-radius: 10px;
    width: 380px;
    height: 30px;
  }
  button:hover
  {
    color: burlywood;
  }
